# Node modules
frontend/node_modules/

# Vite/React build output
frontend/dist/
frontend/build/

# Terraform local state/cache
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.*

# System files
.DS_Store